/* styles.css */

/* Set background image for the body */
body {
    
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-body {
    background: linear-gradient(45deg, #ff0000, 
    #ec386b, #ec8ba4, #069bd6);
}
/* Customize the hero section */


/* Form container styles */
.container {
  background-color: rgba(255, 255, 255, 0.686);
  border-radius: 10px;
  padding: 20px;
}

/* Button styles */
.button.is-primary {
  background-color: #3856ec;
  border-color: #8338ec;
  color: white;
}

.button.is-danger {
  background-color: #ff0000;
  border-color: #ff006e;
  color: white;
}

/* Success message styling */
#message {
  color: white;
  background-color: green;
  padding: 10px;
  border-radius: 5px;
}
